@model projekt_gosp.Models.Towar

@{
    ViewBag.Title = "Szczegóły";

    if (Model.Produkt.attachedImage == false)
    {
        Model.Produkt.thumbPath = "/Media/no-image.jpg";
        Model.Produkt.fullSizePath = "/Media/no-image.jpg";
    }
}

<center><div><h2>@Model.Produkt.Nazwa</h2></div></center>
<a class="product-image-link" href="@Model.Produkt.fullSizePath" data-lightbox="product-set"><img class="product-image thumbFix" src="@Model.Produkt.thumbPath" alt="@Model.Produkt.Nazwa" style="max-width: 300px;max-height:300px" /></a>

<div>
    <h4>Szczegóły</h4>
    <h6>@Model.Produkt.Opis</h6>
    <b id="price">@Model.Cena zł/@Model.Produkt.RodzajCeny.opis</b> 

    <br /><br />
    <p>
        @if(Roles.IsUserInRole("customer"))
        { 
            <center>
                <div>
                    <label>Wprowadź ilość: <input value=1 type="number" name="ilosc" id='count' maxlength="5" /></label>

                    <button type="button" class="btn btn-success" id="addToCartBtn" onclick="addToCart()">Dodaj do koszyka</button>
                    @*<button type="button" class="btn btn-danger">Zamknij</button>*@
                </div>
            </center>
        }
    </p>
    <h5>Data ważności</h5>
    <h6>@Model.Data_waznosci</h6>
    <h5>Ilość</h5>
    <h6>@Model.Ilosc</h6>
</div>


