@model List<projekt_gosp.Models.Promocja>

@{
    ViewBag.Title = "Promocje";
}

<div class="row">
    <span class="lead">Produkty:</span>
    <hr>
</div>

@if (@Model != null && @Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="container-fluid shop-item itemDiv" data-id="@item.ID_towaru">
                <div class="col-lg-2 col-md-2 col-sm-2 shop-item-cell">
                    <a href="/items/id/@item.ID_towaru">
                        @if (@item.Towar.Produkt.attachedImage)
                        {
                            <img src="@item.Towar.Produkt.thumbPath" width="100%" height="100%">
                        }
                        else
                        {
                            <img src="/Media/no-image.jpg" width="100%" height="100%">
                        }
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 shop-item-cell"><span><a href="/items/id/@item.ID_towaru">@item.Towar.Produkt.Nazwa</a></span></div>
                <div class="col-lg-1 col-md-1 col-sm-1 shop-item-cell">Cena: @item.cena_promo zł/@item.Towar.Produkt.RodzajCeny.opis</div>
                @if(WebSecurity.IsAuthenticated)
                { 
                <div class="col-lg-2 col-md-2 col-sm-2 shop-item-cell">Ilość:<br><input value="1" id="count-@item.ID_towaru" class="form-control" type="number"></div>
                <div class="col-lg-1 col-md-1 col-sm-1 shop-item-cell">
                    <button class="btn btn-success addToCart" onclick="addPromotionToCart(@item.ID_towaru)">Dodaj do koszyka</button>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <h5>Data ważności</h5>
            <h6>@item.Towar.Data_waznosci</h6>
            <h5>Ilość</h5>
            <h6>@item.Towar.Ilosc</h6>
        </div>
        <hr>
    }
    <div class="paginationCenter">
        <ul class="pagination">
            @for (int i = ViewBag.startPage; i <= ViewBag.endPage; i++)
            {
                <li @{if (i == ViewBag.activePage) { <text> class="active" </text>  }}><a href="/items/category?category=@ViewBag.categoryName&page=@i">@i</a></li>
            }
        </ul>
    </div>
}
else
{
    <h2>Brak produktów do wyświetlenia</h2>
}

