@model List<projekt_gosp.Models.Towar>

@if (@Model.Count == 0)
{
    <h2>Brak produktów spełniających warunki wyszukiwania</h2>
}
else
{
    foreach(var product in @Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div style="height:150px;width:320px">
                    @if (@product.Produkt.attachedImage)
                    {
                        <img src="@product.Produkt.thumbPath" style="max-height:150px;max-width:260px">
                    }
                    else
                    {
                        <img src="/Media/no-image.jpg" style="max-height:150px;max-width:260px">
                    }
                </div>
                <div class="caption">
                    <h4 class="pull-right">@product.Cena zł/@product.Produkt.RodzajCeny.opis</h4>
                    <h4>
                        <a href="/items/id/@product.ID_Towaru">@product.Produkt.Nazwa</a>
                    </h4>
                    <p>@product.Produkt.Opis</p>
                </div>
            </div>
        </div>
    }
}
