@{
    ViewBag.Title = "confirmResetPassword";
}

<div class="col-sm-6">
    <form id="changePwForm" action="/account/confirmResetPassword/" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="token" value="@ViewBag.token" />

        <div class="form-group">
            <input type="password" class="form-control input-lg" id="pass" name="password" placeholder="nowe hasło">
        </div>

        <div class="form-group">
            <input type="password" class="form-control input-lg" id="passConfirm" name="password2" placeholder="ponów nowe hasło">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning ">Zmień moje hasło</button>
            <a href="/account/login/" class="btn btn-warning ">Wróc do logowania</a>
        </div>
    </form>
    <h2>@Html.Raw(@ViewBag.msg)</h2>
    <h2>@Html.Raw(@ViewBag.error)</h2>
</div>


<script>
    $(document).ready(function () {

        $('#changePwForm').on('submit', function () {
            var pass = $('#pass').val();
            var passConfirm = $('#passConfirm').val();

            if (pass == null || pass == "") {
                alert('Wszystkie pola są wymagane!');
                return false;
            }

            if (passConfirm == null || passConfirm == "") {
                alert('Wszystkie pola są wymagane!');
                return false;
            }

            if (passConfirm != pass) {
                alert('Podane hasła są różne!');
                return false;
            }
            return true;

        });
    });

</script>