@{
    ViewBag.Title = "forgotPassword";
}

<div class="col-sm-6">
    <form id="forgotpassForm" action="/account/forgotpassword/" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="text" class="form-control input-lg" id="username" name="username" placeholder="nazwa">
        </div>

        <div class="form-group">
            <input type="email" class="form-control input-lg" id="email" name="email" placeholder="email">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning ">Resetuj hasło</button>
            <a href="/account/login/" class="btn btn-warning ">Wróc do logowania</a>
        </div>
    </form>
    <h2>@Html.Raw(@ViewBag.msg)</h2>
    <h2>@Html.Raw(@ViewBag.error)</h2>
</div>

<script>
    $(document).ready(function () {

        $('#forgotpassForm').on('submit', function () {
            var usr = $('#username').val();
            var email = $('#email').val();

            if (usr == null || usr == "") {
                alert('Nazwa jest wymagana!');
                return false;
            }

            if (email == null || email == "") {
                alert('Email jest wymagany!');
                return false;
            }

            return true;

        });
    });

</script>