@model projekt_gosp.Models.additionalModels.registerModel

<div class="col-sm-6">
    <form id="registerForm" method="post" onsubmit="return checkCheckBoxes(this);" >
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="username">Login:</label>
            @Html.TextBoxFor(model => model.username, new { @class = "form-control input-lg", @placeholder = "nazwa użytkownika" })
            @Html.ValidationMessageFor(model => model.username)
        </div>
        <div class="form-group">
            <label for="email">Adres e-mail:</label>
            @Html.TextBoxFor(model => model.email, new { @class = "form-control input-lg", @placeholder = "e-mail" })
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <div class="form-group">
            <label for="email">Nr telefonu:</label>
            @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control input-lg", @placeholder = "nr telefonu" })
            @Html.ValidationMessageFor(model => model.phonenumber)
        </div>

        <div class="form-group">
            <label for="email">Imie:</label>
            @Html.TextBoxFor(model => model.name, new { @class = "form-control input-lg", @placeholder = "imie" })
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="form-group">
            <label for="email">Nazwisko:</label>
            @Html.TextBoxFor(model => model.surname, new { @class = "form-control input-lg", @placeholder = "nazwisko" })
            @Html.ValidationMessageFor(model => model.surname)
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    @Html.PasswordFor(model => model.password, new { @class = "form-control input-lg", @placeholder = "hasło" })
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="confrimpassword">Powtórz hasło:</label>
                    @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control input-lg", @placeholder = "powtórz hasło" })
                    @Html.ValidationMessageFor(model => model.confirmPassword)
                </div>
            </div>
        </div>
        <p><input type="checkbox" name="rules" value="/account/register/"> Akceptuję <a href="/Account/Rules" target="_blank">regulamin</a>.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <button id="registerBtn" type="submit" class="btn btn-warning">Stwórz konto</button>
                    <a href="/account/login/" class="btn btn-warning ">Wróć do logowania</a>
                </div>
            </div>
        </div>
    </form>
    <h2>@Html.Raw(ViewBag.error)</h2>
</div>

<script type="text/javascript" language="JavaScript">
<!--
function checkCheckBoxes(registerForm) {
	if (
	registerForm.rules.checked == false )
	{
		alert ('Musisz zaakceptować regulamin, aby kontynuować.');
		return false;
	} else {
		return true;
	}
}
//-->
</script> 

@Scripts.Render("~/bundles/jqueryval")