@model List<projekt_gosp.Models.Produkt>

@{
    ViewBag.Title = "employee panel";
}


<div class="row">
    <div class="row btn-group">
        <button class="btn btn-success" onclick="addItem()">Dodaj nowy produkt</button>
        <button class="btn btn-success" onclick="addCategory()">Dodaj nową kategorie</button>
        <button class="btn btn-success" onclick="addShop()">Dodaj nowy sklep</button>
    </div>
</div>

<div class="row">
    <span class="lead">Products:</span>
    <hr>
</div>

@if (@Model != null && @Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="container-fluid shop-item itemDiv" data-id="@item.ID_produktu">
                <div class="col-lg-2 col-md-2 col-sm-2 shop-item-cell">
                    <a href="/items/globalid/@item.ID_produktu">
                        @if (@item.attachedImage)
                        {
                            <img src="@item.thumbPath" width="100%" height="100%">
                        }
                        else
                        {
                            <img src="/Media/no-image.jpg" width="100%" height="100%">
                        }
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 shop-item-cell"><span><a href="/items/globalid/@item.ID_produktu">@item.Nazwa</a></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2 shop-item-cell">Price: @item.Cena zł</div>
                <div class="col-lg-3 col-md-3 col-sm-3 shop-item-cell btn-group-vertical" role="group">
                    <button class="btn btn-success" onclick="editItem(@item.ID_produktu)" style="width:100%"><span class="glyphicon glyphicon-edit">Edit</span></button>
                    <button class="btn btn-danger" onclick="removeItem(@item.ID_produktu)" style="width:100%"><span class="glyphicon glyphicon-remove">Remove</span></button>
                </div>

            </div>
        </div>
        <hr>
    }

    <div class="paginationCenter">
        <ul class="pagination">
            @for (int i = ViewBag.startPage; i <= ViewBag.endPage; i++)
            {
                <li @{if (i == ViewBag.activePage) { <text> class="active" </text>  }}><a href="/adminpanel/page/@i">@i</a></li>
            }
        </ul>
    </div>

}
else
{
    <h2>Brak produktów do wyświetlenia</h2>
}

<script>

        function addItem() {
            window.location = '/adminpanel/addItem';
        }

        function removeItem(id) {
            window.location = '/adminpanel/removeItem/' + id;
        }

        function editItem(id) {
            window.location = '/adminpanel/editItem/' + id;
        }

        function addCategory() {
            window.location = '/adminpanel/addCategory';
        }

        function addShop() {
            window.location = '/account/registershop/';
        }

</script>